*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
   
}

.container{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:slategrey;
   
}
.press{
    color: #000;
    border-radius:30px;
    box-shadow: 9px 9px 4px 9px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-container{
    display: grid;
   padding: 50px 30px;
    grid-template-columns: repeat(4, 60px);
    
}
#show{
  
    outline: none;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    height: 68px;
    padding: 16px 0;
    width: 270px;
   text-align: end;
   border-radius: 28px;
   border-radius: none;
   background-color: #ecf0f3;
   border: none;
   margin-top: 25px;
   
   
}

.btn{
    padding: 5px 5px;
    margin: 10px;
    font-size: 20px;
    width: 50px;
    font-weight: bold;
    border: none;
}
.btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 30%;

}
.result{
    border: none;
grid-column: span 2;
    font-size: 20px;
    margin-left: 14px;
}

.result:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 30%;
}